.wrapper {
    margin-top: 10px;
    width: 500px;
    height: 650px;
    padding-top: 18px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: 'Russo One', sans-serif;
    background-color: rgb(31, 31, 31);
}
.container {
    padding-top: 20px;
    width: 460px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: gray;
}
.grid {
    margin-left: auto;
    margin-right: auto;
    height: 420px;
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    border: 5px groove grey;
    background-color: lightgrey;
}
.grid div {
    height: 40px;
    width: 40px;
    border: 1px solid black;
}
.bomb {
    background-color: orange;
}
.checked {
    background-color: red;
}
#restartBtn {
    font-size: 60px;
    font-family: 'Russo One', sans-serif;
    margin-top: 20px;
    margin-left: 15px;;
    width: 250px;
    height: 80px;
    border: 5px groove grey;   
}
.scoreDiv {
   font-size: 58px;
    width: 67px;
    height: 70px;
    border: 5px groove grey;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 2px;
    background-color: green;
}
.title {
    color: rgb(251, 255, 195);
    margin-left: 18px;
    font-size: 63px;
    font-weight: 800;
}