.container {
    margin-left: auto;
    margin-right: auto;
    height: 540px;
    width: 500px;
    padding-top: 50px;
    background-color: grey

}
.grid {
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: blue;
    
}
.grid div {
    width: 100px;
    height: 100px;
    background-color: yellow;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}
.score-container {
    height: 110px;
    width: 110px;
    border: 1px solid black;
    border-radius: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
    font-size: 80px;   
}