.container {
    margin-left : auto;
    margin-right : auto;
    height: 600px;
    width: 600px;
    border: 1px solid grey;
}
.character {
    
    background-color: red;
    height: 70px;
    width: 40px;
    position: absolute;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}
.character-slide {
    background-color: red;
    height: 40px;
    width: 70px;
    position: absolute;
    bottom: 0px;
}