.wrapper {
    border: 10px solid rgb(85, 85, 85);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 770px;
    width: 700px;
    background-color: rgb(255, 255, 224);
}
.grid {
    border: 10px solid rgb(85, 85, 85);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
    /* margin-top: 20px; */
    height: 580px;
    width: 580px;
    display: flex;
    flex-wrap: wrap;
    
}
.grid div {
    height: 70px;
    width: 70px;
}
.title {
    padding-left: 10px;
    font-size: 100px;
}